<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<body>
<h4>Добавить клиента</h4>
<form action="clients" method="post">
    <table border="1">
        <tr>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Адрес</td>
            <td style="width: 100px">Телефоны</td>
        </tr>
        <tr>
            <td style="width: 50px"><input type="text" name="name" id = "name" value="" placeholder="Введите имя клиента"></td>
            <td style="width: 100px"><input type="text" name="address" id = "address" value="" placeholder="Введите адрес клиента"></td>
            <td style="width: 100px"><input type="text" name="phone" id = "phone" value="" placeholder="Введите телефон клиента"></td>
        </tr>
    </table>
    <br/><br/>
    <input type="submit" value="Добавить">
</form>

<h4>Список клиентов</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Адрес</td>
        <td style="width: 100px">Телефоны</td>
    </tr>
    </thead>
    <tbody>
    <#list clients as client>
        <tr>
            <td>${client.getId()}</td>
            <td>${client.getName()}</td>
            <td>${client.getAdress().getStreet()}</td>
            <td>
                <#list client.getPhones() as phone>
                    <b>${phone.getNumber()}</b><br>
                </#list>
            </td>
        </tr>
    </#list>
    </tbody>
</table>

</body>
</html>
